extends ./base
block content
    h1 セットアップ済み
    p セットアップ済みです。Ayanoの管理画面にアクセスするには
        a(href="/ayano/login") こちら
        | にアクセスしてください。
    p 再度セットアップしたい場合は、MongoDBでAyanoのデータベースを削除したあと、Ayanoを再起動してください。