doctype html
html(lang=config.site_lang)
    head
        meta(charset="UTF-8")
        meta(name="generator",content="ayano")
        // Ayano (open source blog engine) https://github.com/petitsurume/ayano 
        meta(http-equiv="X-UA-Compatible",content="IE=Edge")
        block cdn
            script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
            case config.style_type
                when "bootstrap3"
                    link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
                    script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
                when "honoka"
                    link(rel="stylesheet",href="//cdn.honokak.osaka/honoka/3.3.7-a/css/bootstrap.min.css")
                    script(src="//cdn.honokak.osaka/honoka/3.3.7-a/js/bootstrap.min.js")
                when "nico"
                    link(rel="stylesheet",href="//cdn.honokak.osaka/nico/3.3.7-1.2.1/css/bootstrap.min.css")
                    script(src="//cdn.honokak.osaka/nico/3.3.7-1.2.0/js/bootstrap.min.js")
                when "rin"
                    link(rel="stylesheet",href="//cdn.honokak.osaka/rin/3.3.7-2/css/bootstrap.min.css")
                    script(src="//cdn.honokak.osaka/rin/3.3.7-2/js/bootstrap.min.js")
                when "umi"
                    link(rel="stylesheet",href="//cdn.honokak.osaka/umi/3.3.7-2/css/bootstrap.min.css")
                    script(src="//cdn.honokak.osaka/umi/3.3.7-2/js/bootstrap.min.js")
        style.
            h1{
                margin-top:0;
            }
            .well .glyphicon{
                margin-right:0.5em;
            }
        block head
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href="/")= config.blog_name
                    button(type="button",data-toggle="collapse",data-target="#header_collapsed",aria-expanded="false").navbar-toggle.collapsed
                        span.sr-only toggle
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .collapse.nav-bar-collapse#header_collapsed
                    ul.nav.navbar-nav
                        li: a(href="/") hoge
        .container
            block content