doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        script.
            setTimeout(function(){
                location.reload()
            },1500)
        title Please wait...
    body
        h1 しばらくお待ちください - Please wait...
        p 現在起き上がっています・・・
