doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        title Not Found
    body
        h1 お探しのものは見つかりませんでした - Not Found
        p 残念ですが、ここにはあなたがお探しのものは見つかりませんでした。
        hr
        a(href="/")= config.blog_name